In [37]:
import pandas as pd

In [36]:

df = pd.read_csv(r'C:\EXCEL\unclean_large.csv')

In [35]:
df

,Name,Age,City,Salary,Status,Join Date,Extra Column
0,Jonathan,N/A,Connieton,-802,Yes,2024-05-01,Remove1
1,Rose,160.0,Moonton,249282,Yes,19/09/2025,Remove2
2,Christopher,103.0,port alice,975635,Yes,28/07/2023,Remove3
3,Mary,N/A,N/A,842595,No,04/01/2021,Remove4
4,David,N/A,N/A,370494,Yes,2022-07-06,Remove5
5,Tanya,102.0,N/A,-4961,Yes,24/12/2024,Remove6
6,Gregory,N/A,N/A,496099,Yes,N/A,Remove7
7,Edward,199.0,N/A,858077,No,N/A,Remove8
8,Wesley,N/A,West James,-1887,Yes,2023-10-23,Remove9
9,Tanya,188.0,N/A,206439,No,N/A,Remove10
10,Morgan,-4.0,New Christiemouth,964524,No,N/A,Remove11
11,Carrie,112.0,East John,-1298,No,N/A,Remove12
12,Amanda,N/A,christopherstad,426904,Yes,2024-02-03,Remove13
13,Emma,N/A,East Ericfort,-1109,No,01/02/2025,Remove14
14,Deborah,63.0,N/A,312558,Yes,03/08/2021,Remove15
15,Megan,59.0,N/A,349051,Yes,24/03/2024,Remove16
16,Rebecca,-3.0,Lake Ericmouth,-2430,No,N/A,Remove17
17,Holly,N/A,Greenfurt,153603,No,29/07/2023,Remove18
18,Harry,187.0,Greenbury,926224,No,2025-02-21,Remove19
19,Christopher,52.0,holmesmouth,-830,Yes,N/A,Remove20
20,Eric,5.0,South Justin,867444,Yes,N/A,Remove21
21,David,3.0,N/A,909670,No,2025-12-08,Remove22
22,Daniel,N/A,N/A,-2666,Yes,N/A,Remove23
23,Destiny,N/A,debramouth,626834,No,2024-02-15,Remove24
24,Lauren,2.0,south susan,-311,No,N/A,Remove25
25,Jason,N/A,N/A,502511,No,16/10/2023,Remove26
26,Jennifer,27.0,West Michaelside,572059,Yes,N/A,Remove27
27,Jenny,0.0,N/A,60473,Yes,N/A,Remove28
28,Thomas,5.0,melanieland,113997,No,2022-02-23,Remove29
29,Michael,1.0,wayneborough,659248,No,N/A,Remove30
30,Stephen,N/A,N/A,-3292,Yes,N/A,Remove31
31,Robert,128.0,angelamouth,-2081,Yes,10/06/2024,Remove32
32,Alan,N/A,Sarahhaven,-1333,Yes,2021-10-13,Remove33
33,Michael,43.0,Dixonburgh,-1920,Yes,2023-02-20,Remove34
34,Michelle,159.0,williamsberg,849656,Yes,17/11/2025,Remove35
35,Elizabeth,44.0,allisonbury,710903,No,2021-04-23,Remove36
36,Kimberly,29.0,Amytown,-540,Yes,2022-09-07,Remove37
37,Beth,33.0,Townsendtown,-3521,Yes,N/A,Remove38
38,Tony,0.0,walkermouth,-1013,Yes,N/A,Remove39
39,Catherine,N/A,new teresa,-3737,Yes,2024-10-31,Remove40
40,Deborah,184.0,sandraport,-354,Yes,2024-02-02,Remove41
41,Alicia,4.0,Kellyside,958268,Yes,09/05/2023,Remove42
42,Jordan,138.0,N/A,-2001,Yes,03/09/2025,Remove43
43,Ann,61.0,Port Tonyaland,526918,Yes,20/08/2023,Remove44
44,Connie,N/A,N/A,-3301,No,2021-09-24,Remove45
45,Michael,-3.0,Larrymouth,-800,No,N/A,Remove46
46,Marisa,N/A,West Darrenchester,-2327,Yes,N/A,Remove47
47,Mary,N/A,N/A,-1907,Yes,2023-07-10,Remove48
48,Andrew,N/A,Burtonmouth,-1772,Yes,N/A,Remove49
49,Jose,N/A,Jacobville,249341,Yes,26/04/2024,Remove50
50,Mallory,1.0,West Zoe,516221,No,N/A,Remove51
51,Michael,N/A,N/A,-2724,Yes,N/A,Remove52
52,Julia,N/A,Griffithtown,173478,Yes,N/A,Remove53
53,Mark,1.0,lake william,-2884,Yes,N/A,Remove54
54,Sarah,146.0,Tinamouth,32817,No,2023-01-09,Remove55
55,Teresa,N/A,N/A,-669,Yes,12/11/2024,Remove56
56,Patrick,N/A,N/A,-3227,No,2022-08-03,Remove57
57,Victoria,3.0,bakerbury,673403,Yes,2021-09-12,Remove58
58,John,72.0,bakerfurt,-441,No,N/A,Remove59
59,Lindsay,5.0,Johnton,-1379,No,N/A,Remove60

In [6]:
df.head()

            Name    Age          City  Salary Status   Join Date Extra Column
0       Jonathan    NaN     Connieton    -802      Y  2024-05-01      Remove1
1          Rose   160.0      Moonton   249282      Y  19/09/2025      Remove2
2   Christopher   103.0   port alice   975635      y  28/07/2023      Remove3
3          Mary     NaN           NaN  842595      N  04/01/2021      Remove4
4         David     NaN           NaN  370494    Yes  2022-07-06      Remove5

In [7]:
df.tail()

        Name   Age         City  Salary Status   Join Date Extra Column
55    Teresa   NaN          NaN    -669      y  12/11/2024     Remove56
56   Patrick   NaN          NaN   -3227      N  2022-08-03     Remove57
57  Victoria   3.0   bakerbury   673403    Yes  2021-09-12     Remove58
58      John  72.0    bakerfurt    -441      N         NaN     Remove59
59   Lindsay   5.0     Johnton    -1379      n         NaN     Remove60

In [9]:
df.shape

(60, 7)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          60 non-null     object
 1   Age           37 non-null     float64
 2   City          41 non-null     object
 3   Salary        60 non-null     int64
 4   Status        60 non-null     object
 5   Join Date     35 non-null     object
 6   Extra Column  60 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 3.4+ KB

In [11]:
df.describe()

              Age         Salary
count   37.000000      60.000000
mean    62.405405  267953.483333
std     68.009582  345245.274450
min     -4.000000   -4961.000000
25%      3.000000   -1892.000000
50%     43.000000   16253.000000
75%    112.000000  518895.250000
max    199.000000  975635.000000

In [13]:
df.columns = df.columns.str.strip()
print(df.columns)

Index(['Name', 'Age', 'City', 'Salary', 'Status', 'Join Date', 'Extra Column'], dtype='object')

In [14]:
df.duplicated().sum()

np.int64(0)

In [28]:
df.drop_duplicates()

,Name,Age,City,Salary,Status,Join Date,Extra Column
0,Jonathan,N/A,Connieton,-802,Yes,2024-05-01,Remove1
1,Rose,160.0,Moonton,249282,Yes,19/09/2025,Remove2
2,Christopher,103.0,port alice,975635,Yes,28/07/2023,Remove3
3,Mary,N/A,N/A,842595,No,04/01/2021,Remove4
4,David,N/A,N/A,370494,Yes,2022-07-06,Remove5
5,Tanya,102.0,N/A,-4961,Yes,24/12/2024,Remove6
6,Gregory,N/A,N/A,496099,Yes,N/A,Remove7
7,Edward,199.0,N/A,858077,No,N/A,Remove8
8,Wesley,N/A,West James,-1887,Yes,2023-10-23,Remove9
9,Tanya,188.0,N/A,206439,No,N/A,Remove10
10,Morgan,-4.0,New Christiemouth,964524,No,N/A,Remove11
11,Carrie,112.0,East John,-1298,No,N/A,Remove12
12,Amanda,N/A,christopherstad,426904,Yes,2024-02-03,Remove13
13,Emma,N/A,East Ericfort,-1109,No,01/02/2025,Remove14
14,Deborah,63.0,N/A,312558,Yes,03/08/2021,Remove15
15,Megan,59.0,N/A,349051,Yes,24/03/2024,Remove16
16,Rebecca,-3.0,Lake Ericmouth,-2430,No,N/A,Remove17
17,Holly,N/A,Greenfurt,153603,No,29/07/2023,Remove18
18,Harry,187.0,Greenbury,926224,No,2025-02-21,Remove19
19,Christopher,52.0,holmesmouth,-830,Yes,N/A,Remove20
20,Eric,5.0,South Justin,867444,Yes,N/A,Remove21
21,David,3.0,N/A,909670,No,2025-12-08,Remove22
22,Daniel,N/A,N/A,-2666,Yes,N/A,Remove23
23,Destiny,N/A,debramouth,626834,No,2024-02-15,Remove24
24,Lauren,2.0,south susan,-311,No,N/A,Remove25
25,Jason,N/A,N/A,502511,No,16/10/2023,Remove26
26,Jennifer,27.0,West Michaelside,572059,Yes,N/A,Remove27
27,Jenny,0.0,N/A,60473,Yes,N/A,Remove28
28,Thomas,5.0,melanieland,113997,No,2022-02-23,Remove29
29,Michael,1.0,wayneborough,659248,No,N/A,Remove30
30,Stephen,N/A,N/A,-3292,Yes,N/A,Remove31
31,Robert,128.0,angelamouth,-2081,Yes,10/06/2024,Remove32
32,Alan,N/A,Sarahhaven,-1333,Yes,2021-10-13,Remove33
33,Michael,43.0,Dixonburgh,-1920,Yes,2023-02-20,Remove34
34,Michelle,159.0,williamsberg,849656,Yes,17/11/2025,Remove35
35,Elizabeth,44.0,allisonbury,710903,No,2021-04-23,Remove36
36,Kimberly,29.0,Amytown,-540,Yes,2022-09-07,Remove37
37,Beth,33.0,Townsendtown,-3521,Yes,N/A,Remove38
38,Tony,0.0,walkermouth,-1013,Yes,N/A,Remove39
39,Catherine,N/A,new teresa,-3737,Yes,2024-10-31,Remove40
40,Deborah,184.0,sandraport,-354,Yes,2024-02-02,Remove41
41,Alicia,4.0,Kellyside,958268,Yes,09/05/2023,Remove42
42,Jordan,138.0,N/A,-2001,Yes,03/09/2025,Remove43
43,Ann,61.0,Port Tonyaland,526918,Yes,20/08/2023,Remove44
44,Connie,N/A,N/A,-3301,No,2021-09-24,Remove45
45,Michael,-3.0,Larrymouth,-800,No,N/A,Remove46
46,Marisa,N/A,West Darrenchester,-2327,Yes,N/A,Remove47
47,Mary,N/A,N/A,-1907,Yes,2023-07-10,Remove48
48,Andrew,N/A,Burtonmouth,-1772,Yes,N/A,Remove49
49,Jose,N/A,Jacobville,249341,Yes,26/04/2024,Remove50
50,Mallory,1.0,West Zoe,516221,No,N/A,Remove51
51,Michael,N/A,N/A,-2724,Yes,N/A,Remove52
52,Julia,N/A,Griffithtown,173478,Yes,N/A,Remove53
53,Mark,1.0,lake william,-2884,Yes,N/A,Remove54
54,Sarah,146.0,Tinamouth,32817,No,2023-01-09,Remove55
55,Teresa,N/A,N/A,-669,Yes,12/11/2024,Remove56
56,Patrick,N/A,N/A,-3227,No,2022-08-03,Remove57
57,Victoria,3.0,bakerbury,673403,Yes,2021-09-12,Remove58
58,John,72.0,bakerfurt,-441,No,N/A,Remove59
59,Lindsay,5.0,Johnton,-1379,No,N/A,Remove60

In [27]:
df.isnull().sum()

Name            0
Age             0
City            0
Salary          0
Status          0
Join Date       0
Extra Column    0
dtype: int64

In [23]:
df["Age"] = df["Age"].fillna("N/A")
df["City"] = df["City"].fillna("N/A")
df["Join Date"] = df["Join Date"].fillna("N/A")

In [33]:
df["Status"] = df["Status"].replace({
    "y": "Yes",
    "n": "No"
})
df

,Name,Age,City,Salary,Status,Join Date,Extra Column
0,Jonathan,N/A,Connieton,-802,Yes,2024-05-01,Remove1
1,Rose,160.0,Moonton,249282,Yes,19/09/2025,Remove2
2,Christopher,103.0,port alice,975635,Yes,28/07/2023,Remove3
3,Mary,N/A,N/A,842595,No,04/01/2021,Remove4
4,David,N/A,N/A,370494,Yes,2022-07-06,Remove5
5,Tanya,102.0,N/A,-4961,Yes,24/12/2024,Remove6
6,Gregory,N/A,N/A,496099,Yes,N/A,Remove7
7,Edward,199.0,N/A,858077,No,N/A,Remove8
8,Wesley,N/A,West James,-1887,Yes,2023-10-23,Remove9
9,Tanya,188.0,N/A,206439,No,N/A,Remove10
10,Morgan,-4.0,New Christiemouth,964524,No,N/A,Remove11
11,Carrie,112.0,East John,-1298,No,N/A,Remove12
12,Amanda,N/A,christopherstad,426904,Yes,2024-02-03,Remove13
13,Emma,N/A,East Ericfort,-1109,No,01/02/2025,Remove14
14,Deborah,63.0,N/A,312558,Yes,03/08/2021,Remove15
15,Megan,59.0,N/A,349051,Yes,24/03/2024,Remove16
16,Rebecca,-3.0,Lake Ericmouth,-2430,No,N/A,Remove17
17,Holly,N/A,Greenfurt,153603,No,29/07/2023,Remove18
18,Harry,187.0,Greenbury,926224,No,2025-02-21,Remove19
19,Christopher,52.0,holmesmouth,-830,Yes,N/A,Remove20
20,Eric,5.0,South Justin,867444,Yes,N/A,Remove21
21,David,3.0,N/A,909670,No,2025-12-08,Remove22
22,Daniel,N/A,N/A,-2666,Yes,N/A,Remove23
23,Destiny,N/A,debramouth,626834,No,2024-02-15,Remove24
24,Lauren,2.0,south susan,-311,No,N/A,Remove25
25,Jason,N/A,N/A,502511,No,16/10/2023,Remove26
26,Jennifer,27.0,West Michaelside,572059,Yes,N/A,Remove27
27,Jenny,0.0,N/A,60473,Yes,N/A,Remove28
28,Thomas,5.0,melanieland,113997,No,2022-02-23,Remove29
29,Michael,1.0,wayneborough,659248,No,N/A,Remove30
30,Stephen,N/A,N/A,-3292,Yes,N/A,Remove31
31,Robert,128.0,angelamouth,-2081,Yes,10/06/2024,Remove32
32,Alan,N/A,Sarahhaven,-1333,Yes,2021-10-13,Remove33
33,Michael,43.0,Dixonburgh,-1920,Yes,2023-02-20,Remove34
34,Michelle,159.0,williamsberg,849656,Yes,17/11/2025,Remove35
35,Elizabeth,44.0,allisonbury,710903,No,2021-04-23,Remove36
36,Kimberly,29.0,Amytown,-540,Yes,2022-09-07,Remove37
37,Beth,33.0,Townsendtown,-3521,Yes,N/A,Remove38
38,Tony,0.0,walkermouth,-1013,Yes,N/A,Remove39
39,Catherine,N/A,new teresa,-3737,Yes,2024-10-31,Remove40
40,Deborah,184.0,sandraport,-354,Yes,2024-02-02,Remove41
41,Alicia,4.0,Kellyside,958268,Yes,09/05/2023,Remove42
42,Jordan,138.0,N/A,-2001,Yes,03/09/2025,Remove43
43,Ann,61.0,Port Tonyaland,526918,Yes,20/08/2023,Remove44
44,Connie,N/A,N/A,-3301,No,2021-09-24,Remove45
45,Michael,-3.0,Larrymouth,-800,No,N/A,Remove46
46,Marisa,N/A,West Darrenchester,-2327,Yes,N/A,Remove47
47,Mary,N/A,N/A,-1907,Yes,2023-07-10,Remove48
48,Andrew,N/A,Burtonmouth,-1772,Yes,N/A,Remove49
49,Jose,N/A,Jacobville,249341,Yes,26/04/2024,Remove50
50,Mallory,1.0,West Zoe,516221,No,N/A,Remove51
51,Michael,N/A,N/A,-2724,Yes,N/A,Remove52
52,Julia,N/A,Griffithtown,173478,Yes,N/A,Remove53
53,Mark,1.0,lake william,-2884,Yes,N/A,Remove54
54,Sarah,146.0,Tinamouth,32817,No,2023-01-09,Remove55
55,Teresa,N/A,N/A,-669,Yes,12/11/2024,Remove56
56,Patrick,N/A,N/A,-3227,No,2022-08-03,Remove57
57,Victoria,3.0,bakerbury,673403,Yes,2021-09-12,Remove58
58,John,72.0,bakerfurt,-441,No,N/A,Remove59
59,Lindsay,5.0,Johnton,-1379,No,N/A,Remove60

In [38]:
df["Salary"] = df["Salary"].replace("-", regex=False)
df

C:\Users\Anish Kumar\AppData\Local\Temp\ipykernel_4600\241888979.py:1: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  df["Salary"] = df["Salary"].replace("-", regex=False)

,Name,Age,City,Salary,Status,Join Date,Extra Column
0,Jonathan,NaN,Connieton,-802,Y,2024-05-01,Remove1
1,Rose,160.0,Moonton,249282,Y,19/09/2025,Remove2
2,Christopher,103.0,port alice,975635,y,28/07/2023,Remove3
3,Mary,NaN,NaN,842595,N,04/01/2021,Remove4
4,David,NaN,NaN,370494,Yes,2022-07-06,Remove5
5,Tanya,102.0,NaN,-4961,Y,24/12/2024,Remove6
6,Gregory,NaN,NaN,496099,Y,NaN,Remove7
7,Edward,199.0,NaN,858077,N,NaN,Remove8
8,Wesley,NaN,West James,-1887,y,2023-10-23,Remove9
9,Tanya,188.0,NaN,206439,n,NaN,Remove10
10,Morgan,-4.0,New Christiemouth,964524,No,NaN,Remove11
11,Carrie,112.0,East John,-1298,N,NaN,Remove12
12,Amanda,NaN,christopherstad,426904,Yes,2024-02-03,Remove13
13,Emma,NaN,East Ericfort,-1109,No,01/02/2025,Remove14
14,Deborah,63.0,NaN,312558,Yes,03/08/2021,Remove15
15,Megan,59.0,NaN,349051,y,24/03/2024,Remove16
16,Rebecca,-3.0,Lake Ericmouth,-2430,No,NaN,Remove17
17,Holly,NaN,Greenfurt,153603,No,29/07/2023,Remove18
18,Harry,187.0,Greenbury,926224,No,2025-02-21,Remove19
19,Christopher,52.0,holmesmouth,-830,y,NaN,Remove20
20,Eric,5.0,South Justin,867444,Yes,NaN,Remove21
21,David,3.0,NaN,909670,N,2025-12-08,Remove22
22,Daniel,NaN,NaN,-2666,y,NaN,Remove23
23,Destiny,NaN,debramouth,626834,N,2024-02-15,Remove24
24,Lauren,2.0,south susan,-311,No,NaN,Remove25
25,Jason,NaN,NaN,502511,N,16/10/2023,Remove26
26,Jennifer,27.0,West Michaelside,572059,Y,NaN,Remove27
27,Jenny,0.0,NaN,60473,Yes,NaN,Remove28
28,Thomas,5.0,melanieland,113997,N,2022-02-23,Remove29
29,Michael,1.0,wayneborough,659248,n,NaN,Remove30
30,Stephen,NaN,NaN,-3292,Yes,NaN,Remove31
31,Robert,128.0,angelamouth,-2081,y,10/06/2024,Remove32
32,Alan,NaN,Sarahhaven,-1333,Yes,2021-10-13,Remove33
33,Michael,43.0,Dixonburgh,-1920,Y,2023-02-20,Remove34
34,Michelle,159.0,williamsberg,849656,Yes,17/11/2025,Remove35
35,Elizabeth,44.0,allisonbury,710903,n,2021-04-23,Remove36
36,Kimberly,29.0,Amytown,-540,Yes,2022-09-07,Remove37
37,Beth,33.0,Townsendtown,-3521,y,NaN,Remove38
38,Tony,0.0,walkermouth,-1013,Yes,NaN,Remove39
39,Catherine,NaN,new teresa,-3737,y,2024-10-31,Remove40
40,Deborah,184.0,sandraport,-354,Y,2024-02-02,Remove41
41,Alicia,4.0,Kellyside,958268,Y,09/05/2023,Remove42
42,Jordan,138.0,NaN,-2001,y,03/09/2025,Remove43
43,Ann,61.0,Port Tonyaland,526918,y,20/08/2023,Remove44
44,Connie,NaN,NaN,-3301,No,2021-09-24,Remove45
45,Michael,-3.0,Larrymouth,-800,N,NaN,Remove46
46,Marisa,NaN,West Darrenchester,-2327,y,NaN,Remove47
47,Mary,NaN,NaN,-1907,Yes,2023-07-10,Remove48
48,Andrew,NaN,Burtonmouth,-1772,y,NaN,Remove49
49,Jose,NaN,Jacobville,249341,y,26/04/2024,Remove50
50,Mallory,1.0,West Zoe,516221,N,NaN,Remove51
51,Michael,NaN,NaN,-2724,Y,NaN,Remove52
52,Julia,NaN,Griffithtown,173478,Y,NaN,Remove53
53,Mark,1.0,lake william,-2884,Yes,NaN,Remove54
54,Sarah,146.0,Tinamouth,32817,n,2023-01-09,Remove55
55,Teresa,NaN,NaN,-669,y,12/11/2024,Remove56
56,Patrick,NaN,NaN,-3227,N,2022-08-03,Remove57
57,Victoria,3.0,bakerbury,673403,Yes,2021-09-12,Remove58
58,John,72.0,bakerfurt,-441,N,NaN,Remove59
59,Lindsay,5.0,Johnton,-1379,n,NaN,Remove60

In [ ]:
df["City"] = df["City"].std.title()