# Data Claning

# Import Pandas

In [ ]:
import pandas as pd

# Excel File Read

In [2]:
df = pd.read_excel(
    r"C:\EXCEL\Customer_Call_List.xlsx" 
)

# Show Columns

In [3]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,Yes,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,No,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,No,No,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Yes,Yes,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,Not Available,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,No,No,False
8,1009,Gandalf,Not Available,Not Available,123 Middle Earth,Yes,Yes,False
9,1010,Peter,Parker,1235455421,"25Th Main Street, New York",Yes,Yes,True
10,1011,Samwise,Gamgee,Not Available,"612 Shire Lane, Shire",Yes,Yes,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Yes,Yes,True
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,Yes,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,Yes,False
14,1015,Toby,Flenderson_,3047622467,214 Hr Avenue,No,No,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,No,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,Yes,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Yes,Yes,True
18,1019,Creed,Braton,Not Available,NaN,N/a,N/a,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,Yes,True

# Head
DataFrame ke top (starting) ki 5 rows dikhaata hai.

In [4]:
df.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,Yes,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,No,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,No,No,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Yes,Yes,True

# Tail
Last (ending) ki 5 rows dikhata hai

In [5]:
df.tail()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,No,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,Yes,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Yes,Yes,True
18,1019,Creed,Braton,Not Available,NaN,N/a,N/a,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,Yes,True

# INFO
- Total rows & columns,
- Column names,
- Data type (int, float, object),
- **Non-null values count**

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         20 non-null     int64
 1   First_Name         20 non-null     object
 2   Last_Name          20 non-null     object
 3   Phone_Number       20 non-null     object
 4   Address            19 non-null     object
 5   Paying Customer    20 non-null     object
 6   Do_Not_Contact     20 non-null     object
 7   Not_Useful_Column  20 non-null     bool
dtypes: bool(1), int64(1), object(6)
memory usage: 1.2+ KB

# SHAPE
- Rows aur Columns count batata hai

In [7]:
df.shape

(20, 8)

# DESCRIBE
- Numerical columns ka summary
- count, mean, std, min, max, quartiles

In [8]:
df.describe()

       CustomerID
count    20.00000
mean   1010.50000
std       5.91608
min    1001.00000
25%    1005.75000
50%    1010.50000
75%    1015.25000
max    1020.00000

# Column Names Clean Karna
- (Extra space / formatting issue)

In [9]:
df.columns = df.columns.str.strip()
print(df.columns)

Index(['CustomerID', 'First_Name', 'Last_Name', 'Phone_Number', 'Address',
       'Paying Customer', 'Do_Not_Contact', 'Not_Useful_Column'],
      dtype='object')

# Duplicate Count (Before vs After)
- duplicates count

In [10]:
df.duplicated().sum()

np.int64(0)

# Duplicates
- Duplicate Rows Remove Karna

In [11]:
df.drop_duplicates()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,Yes,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,No,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,No,No,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Yes,Yes,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,Not Available,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,No,No,False
8,1009,Gandalf,Not Available,Not Available,123 Middle Earth,Yes,Yes,False
9,1010,Peter,Parker,1235455421,"25Th Main Street, New York",Yes,Yes,True
10,1011,Samwise,Gamgee,Not Available,"612 Shire Lane, Shire",Yes,Yes,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Yes,Yes,True
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,Yes,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,Yes,False
14,1015,Toby,Flenderson_,3047622467,214 Hr Avenue,No,No,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,No,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,Yes,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Yes,Yes,True
18,1019,Creed,Braton,Not Available,NaN,N/a,N/a,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,Yes,True

# Missing Values Check

In [12]:
df.isnull().sum()

CustomerID           0
First_Name           0
Last_Name            0
Phone_Number         0
Address              1
Paying Customer      0
Do_Not_Contact       0
Not_Useful_Column    0
dtype: int64

# Missing Values Handle Karna

In [14]:
df["Phone_Number"] = df["Phone_Number"].fillna("Not Available")
df["Last_Name"] = df["Last_Name"].fillna("Not Available")
df["Do_Not_Contact"] = df["Do_Not_Contact"].fillna("Not Available")

# Phone Number Clean Karna
**Line 1: astype(str)**
- Phone Number ko string (text) bana deta hai

In [15]:
df["Phone_Number"] = df["Phone_Number"].astype(str)

**Line 2: str.replace**
- Text me se kuch hataana / replace karna
- Regex Pattern: r"[^\d]"
-  \d :- 
Means: digit (09)

-  [ ] :- 
Character group

-  ^ :-
Negation (NOT)

In [16]:
df["Phone_Number"] = df["Phone_Number"].str.replace(r"[^\d]", "", regex=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,Yes,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,No,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,No,No,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Yes,Yes,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,No,No,False
8,1009,Gandalf,Not Available,,123 Middle Earth,Yes,Yes,False
9,1010,Peter,Parker,1235455421,"25Th Main Street, New York",Yes,Yes,True
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,Yes,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Yes,Yes,True
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,Yes,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,Yes,False
14,1015,Toby,Flenderson_,3047622467,214 Hr Avenue,No,No,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,No,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,Yes,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Yes,Yes,True
18,1019,Creed,Braton,,NaN,N/a,N/a,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,Yes,True

# Empty Phone Numbers Detect Karo

In [17]:
df["Phone_Number"] == ""

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8      True
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18     True
19    False
Name: Phone_Number, dtype: bool

# Empty Phone Numbers Fill Karna
-  Option 1: "Not Available" se fill karo (Most Common)

In [18]:
df.loc[df["Phone_Number"] == "", "Phone_Number"] = "Not Available"
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,Yes,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,No,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,No,No,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Yes,Yes,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,Not Available,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,No,No,False
8,1009,Gandalf,Not Available,Not Available,123 Middle Earth,Yes,Yes,False
9,1010,Peter,Parker,1235455421,"25Th Main Street, New York",Yes,Yes,True
10,1011,Samwise,Gamgee,Not Available,"612 Shire Lane, Shire",Yes,Yes,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Yes,Yes,True
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,Yes,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,Yes,False
14,1015,Toby,Flenderson_,3047622467,214 Hr Avenue,No,No,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,No,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,Yes,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Yes,Yes,True
18,1019,Creed,Braton,Not Available,NaN,N/a,N/a,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,Yes,True

# Name Column Clean
** Line 1: .str.strip()**
- Left & right side ke spaces remove karta hai

In [19]:
df["Address"] = df["Address"].str.strip()
df["First_Name"] = df["First_Name"].str.strip()
df["Last_Name"] = df["Last_Name"].str.strip()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,Yes,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,No,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,No,No,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Yes,Yes,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,Not Available,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,No,No,False
8,1009,Gandalf,Not Available,Not Available,123 Middle Earth,Yes,Yes,False
9,1010,Peter,Parker,1235455421,"25Th Main Street, New York",Yes,Yes,True
10,1011,Samwise,Gamgee,Not Available,"612 Shire Lane, Shire",Yes,Yes,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Yes,Yes,True
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,Yes,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,Yes,False
14,1015,Toby,Flenderson_,3047622467,214 Hr Avenue,No,No,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,No,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,Yes,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Yes,Yes,True
18,1019,Creed,Braton,Not Available,NaN,N/a,N/a,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,Yes,True

**Line 2: .str.title()**
- Har word ka first letter capital
- Baaki letters lowercase

In [20]:
df["Address"] = df["Address"].str.title()
df["First_Name"] = df["First_Name"].str.title()
df["Last_Name"] = df["Last_Name"].str.title()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,Yes,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,No,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,No,No,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Yes,Yes,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,Not Available,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,No,No,False
8,1009,Gandalf,Not Available,Not Available,123 Middle Earth,Yes,Yes,False
9,1010,Peter,Parker,1235455421,"25Th Main Street, New York",Yes,Yes,True
10,1011,Samwise,Gamgee,Not Available,"612 Shire Lane, Shire",Yes,Yes,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Yes,Yes,True
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,Yes,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,Yes,False
14,1015,Toby,Flenderson_,3047622467,214 Hr Avenue,No,No,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,No,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,Yes,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Yes,Yes,True
18,1019,Creed,Braton,Not Available,NaN,N/a,N/a,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,Yes,True

# Problem Example
- Name column me values aisi hain:
- "/wdfd"
- "/suraj"
- "rahul/sharma"
- "/ amit "

In [21]:
df["Last_Name"] = df["Last_Name"].str.replace("/", "", regex=False)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,Yes,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,No,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,No,No,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Yes,Yes,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,Not Available,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,No,No,False
8,1009,Gandalf,Not Available,Not Available,123 Middle Earth,Yes,Yes,False
9,1010,Peter,Parker,1235455421,"25Th Main Street, New York",Yes,Yes,True
10,1011,Samwise,Gamgee,Not Available,"612 Shire Lane, Shire",Yes,Yes,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Yes,Yes,True
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,Yes,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,Yes,False
14,1015,Toby,Flenderson_,3047622467,214 Hr Avenue,No,No,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,No,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,Yes,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Yes,Yes,True
18,1019,Creed,Braton,Not Available,NaN,N/a,N/a,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,Yes,True

# Replace Name

In [21]:
df["Paying Customer"] = df["Paying Customer"].replace({
    "Y": "Yes",
    "N": "No"
})
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,Yes,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,No,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,No,No,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Yes,Yes,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,Not Available,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,No,No,False
8,1009,Gandalf,Not Available,Not Available,123 Middle Earth,Yes,Yes,False
9,1010,Peter,Parker,1235455421,"25Th Main Street, New York",Yes,Yes,True
10,1011,Samwise,Gamgee,Not Available,"612 Shire Lane, Shire",Yes,Yes,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Yes,Yes,True
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,Yes,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,Yes,False
14,1015,Toby,Flenderson_,3047622467,214 Hr Avenue,No,No,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,No,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,Yes,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Yes,Yes,True
18,1019,Creed,Braton,Not Available,NaN,N/a,N/a,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,Yes,True

In [22]:
df["Do_Not_Contact"] = df["Paying Customer"].replace({
    "Y": "Yes",
    "N": "No"
})
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,Yes,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,No,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,No,No,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Yes,Yes,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,Not Available,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,No,No,False
8,1009,Gandalf,Not Available,Not Available,123 Middle Earth,Yes,Yes,False
9,1010,Peter,Parker,1235455421,"25Th Main Street, New York",Yes,Yes,True
10,1011,Samwise,Gamgee,Not Available,"612 Shire Lane, Shire",Yes,Yes,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Yes,Yes,True
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,Yes,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,Yes,False
14,1015,Toby,Flenderson_,3047622467,214 Hr Avenue,No,No,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,No,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,Yes,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Yes,Yes,True
18,1019,Creed,Braton,Not Available,NaN,N/a,N/a,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,Yes,True

# Excel file me save karna

In [23]:
df.to_excel("C:/EXCEL/Customer_Call_List.xlsx", index=False)

In [24]:
df.to_excel("cleaned_data.xlsx", index=False)