# Import Pandas

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel(
    r"C:\EXCEL\file.xlsx"
)

In [4]:

df

  First Name Last Name    Location  Age
0      Suraj     Kumar       Delhi   25
1      Rahul     Metha       Noida   35
2      Mohan     Verma     Kolkata   15
3       Riya    Kumari       Patna   45
4      Komal     Merha      Mumbai   65
5      Sonam     Kapur   Bangalore   84
6      Kamal     Kumar  Lakhisarai   63
7      Sajan     Metha       Dubai   25
8     Deepak      Sing       Koval   64